{
  "env": {
    "jest": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-plusplus": [
      "error",
      {"allowForLoopAfterthoughts": true}
    ],
    "arrow-body-style": 0
  }
}
