<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" media="all" href="./docco.css" />
</head>
<body>
  <div id="container">
    <ul class="sections">
      <% for (var i=0, l=sections.length; i<l; i++) { %>
      <% var section = sections[i]; %>
      <li>
        <div class="<%= section.docText === '' ? 'annotation' : 'annotation active' %>">
          <%= section.docText %>
        </div>

        <div class="content"><%= section.codeHtml %></div>
      </li>
      <% } %>
    </ul>
  </div>
</body>
</html>
